@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background-color:rgb(139, 177, 211);
    font-family: 'Century Gothic', sans-serif;
}

td.course_num
{
    font-family:monospace;
}

p,li,td,th {
    font-size:13pt;
}

h1,h2,h3,h4,h5,h6 {
    color:#575e6c
}

#navbar {
    background-color:#f08989;
    margin-top:5px;
}

#banner {
    font-size:24pt;
    color:#d47b7b;
    background-color:#ebec9d;
}

#desc {
    background-color:#b4e4b1;
    color:#7f1515;
}

a.nav {
    color:#5d1616;
    font-size:12pt;
    font-weight:normal;
}

a.open_nav {
    color:#ffffff;
    font-size:18pt;
    font-weight:bold;
}

hr {
    color:#111155;
}

a.open_nav:hover {

}

a.nav:hover{
    color:rgb(118,143,165);
}

a:hover {
    color:rgb(118,143,165);
}

a {
    text-decoration:none;
    color:#4d5580;
    font-weight:bold;
}

span {
    color:#a0a0f8;
    font-weight:bold;
}

span.reading {
    color:#990099;
    font-weight:normal;
}

span.tutorial {
    color:#990099;
    font-weight:normal;
}

span.hw {
    color:#e25b5b;
    font-weight:normal;
}

span.grading {
    color:#771177;
    font-weight:bold;
}

td.highlight {
    background-color:#00ffff;
}

table.hws {
    border: 2px solid #b48a8a;
    border-collapse:collapse;
}

th.hws {
    padding-right: 80px;
    padding-left: 80px;
}

td.hws {
    padding-right:80px;
    
}

.office_hours_schedule td
{
    height:50px;
    text-align:center;
    font-weight:bold;
    background-color:rgb(227,230,235);
}
td.time
{
    background-color:rgb(232, 183, 183);
    color:#961a1a;
}
td.open
{
    background-color:rgb(183, 224, 218);
}
td.lecture
{
    background-color:rgb(137, 182, 241);
}
td.recitation
{
    background-color:rgb(200, 190, 240);
}
td.tas
{
    width:260px;
}
.office_hours_schedule th
{
    background-color:rgb(251, 199, 251);
}
.email
{
    font-size:11pt;
    color:#7d1616;
    font-weight:normal;
}


.rec_0 {
    background-color:rgb(246, 208, 170);
    
    
    
}
.rec_1 {
    background-color:rgb(194, 242, 245);
   
    
    
}
.rec_cell {
    padding: 10px 10px 10px 10px;
}
.ta_cell {
    padding: 5px 5px 10px 15px;
}
.ta_name {
    font-size:14pt;
    color: black;
}
.ta_email {
    font-size:10pt;
    color: rgb(0,0,80);
}

#instructor_data {
    font-size:14pt;
}

.instructor_photo {
    margin-left:30px;
}

.instructor_time {
    padding-left:20px;
}

.grading_total {
    background-color: rgb(255,190,150);
}
