@import url('http://fonts.googleapis.com/css?family=Alegreya+Sans');

body {
	background-color:rgb(118,143,165);
	font-family: 'Alegreya Sans', sans-serif;
}

td.course_num
{
	font-family:monospace;
}

p,li,td,th {
	font-size:13pt;
}

h1,h2,h3,h4,h5,h6 {
	color:#003399
}

#navbar {
	background-color:#002338;
	margin-top:5px;
}

#banner {
	font-size:24pt;
	color:#ffffff;
	background-color:#59598c;
}

#desc {
	background-color:#ffffff;
	color:#000000;
}

a.nav {
	color:#ffffff;
	font-size:12pt;
	font-weight:normal;
}

a.open_nav {
	color:#ffffff;
	font-size:18pt;
	font-weight:bold;
}

hr {
	color:#111155;
}

a.open_nav:hover {

}

a.nav:hover{
	color:rgb(118,143,165);
}

a:hover {
	color:rgb(118,143,165);
}

a {
	text-decoration:none;
	color:#006633;
	font-weight:bold;
}

span {
	color:#8888ff;
	font-weight:bold;
}

span.reading {
	color:#000000;
	font-weight:normal;
}

span.tutorial {
	color:#990099;
	font-weight:normal;
}

span.hw {
	color:#990000;
	font-weight:normal;
}

span.grading {
	color:#007700;
	font-weight:normal;
}

td.highlight {
	background-color:#00ffff;
}

table.hws {
	border: 2px solid black;
	border-collapse:collapse;
}

th.hws {
	text-align:centered;
	padding-right: 80px;
}

td.hws {
	padding-right:80px;
}


   .office_hours_schedule td
   {
	height:50px;
	text-align:center;
	font-weight:bold;
	background-color:rgb(227,230,235);
   }
   td.time
   {
	background-color:rgb(174,189,99);
	color:black;
   }
   td.open
   {
	background-color:rgb(200,200,200);
   }
   td.lecture
   {
	background-color:rgb(103,124,151);
   }
   td.tas
   {
	width:260px;
   }
   td.not_available
   {
	background-color:rgb(100,100,100);
	border-top:0px;
	border-bottom:0px;
   }
   .office_hours_schedule th
   {
	background-color:rgb(180,120,180);
   }
   .email
   {
	font-size:11pt;
	color:black;
	font-weight:normal;
   }

   #content 
{
	position:absolute;
	width:80%;
	left:10%;
	right:10%;
	text-align:left;
}

#navbar 
{
	position:absolute	;
	width:100%;
	height:45px;
	top:0px;
}

#banner 
{
	position:absolute;
	width:100%;
	height:80px;
	text-align:center;
	padding-top:10px;
	padding-bottom:0px;
	margin-top:0px;
	margin-bottom:0px;
	top:50px;
}

#desc 
{
	position:absolute;
	padding-left:2%;
	padding-right:2%;
	padding-top:0px;
	width:96%;
	margin-top:0px;
	top:140px;
}

img.sbu_navbar
{
	float:right;
}

img.photo_floating_right
{
	float:right;
	padding-left:20px;
}

img.photo_floating_left
{
	float:left;
	padding-right:20px;
}

p.footer
{
	font-size:8pt;
	text-align:center;
	padding-top:00px;
}

img {
	border:0;
}

img.stonybrook {
	background-color:white;
	padding-left:10px;
	float:left;
}

img.cs {
	float:right;
	padding-right:10px;
}

img.start_up
{
	float:right;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:5px;
}

img.centered {
	margin-left:30%;
	margin-right:30%;
}


a.nav, a.open_nav {
	display:inline-block;
	border:none;
	text-decoration:none;
	text-align:center;
	font-weight:bold;
	padding-left:5px;
	padding-right:20px;
	padding-top:5px;
	width:80px;
}

p.contact_info
{
	padding-top:0px;
	margin-top:0px;
	margin-bottom:0px;
}

td.course_name
{
	padding-left:10px;
	padding-right:10px;
}

img.logo_page
{
	position:relative;
	width:100%;
	height:auto;
}

table 
{
	border-color:#555555;
}

table.schedule
{
	margin:auto;
	width:100%;
}

td.sch
{
	position:relative;
	width:20%;
	height:150px;
	margin-left:0%;
	margin-right:0%;
	vertical-align:top;
}

th.sch
{
	vertical-align:top;
	text-align:center;
	border-color:#888888;
}

td.holiday 
{
	background-color:#aaaaaa;
	vertical-align:top;
}
